<div class="order">
  <p class="order__title">
    {{!showOrders ? 'Your orders will be displayed here' : 'My Orders'}}
  </p>

  <div class="order__container">
    <ng-container *ngFor="let order of ordersList; let i = index">
      <div class="order">
        <p class="title">Order {{i + 1}}</p>
        <div class="item-container">
          <div class="item" *ngFor="let item of order['userItems']['productDetails']">
            <p>{{item['value']['title'] }}</p>
            <p>₹{{item['value']['price'] }}</p>
          </div>
        </div>
        <div class="total-cost">
          <p>Total Cost</p>
          <p>₹{{order['userItems']['totalCost']}}</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
