<div class="top-nav-bar">

  <p>E-Store</p>

  <ng-template #anonymousUser>
    <button class="login-button" routerLink="/login" style="margin-left: 40px">
      Login
    </button>
  </ng-template>
  <div ngbDropdown class="dropdown" *ngIf="user$ | async as user; else anonymousUser">
    <button ngbDropdownToggle class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{user.displayName}}
    </button>
    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" routerLink="/my-orders">My Orders</a>
      <a class="dropdown-item" routerLink="/products">Products</a>

      <ng-container *ngIf = "adminAuthGuardService.adminEmail">
      <a class="dropdown-item" routerLink="/admin/admin-orders">Admin Orders</a>
      <a class="dropdown-item" routerLink="/admin/admin-products">Admin Products</a>
    </ng-container>
      <a class="dropdown-item" (click)="logOut()">Logout</a>
    </div>
  </div>
</div>
