<div class="top-nav-bar">

  <button *ngIf="showMenuButton" (click) = "toggleSideMenu()" class="btn btn-outline-light">
    Menu
  </button>
  <p class="title">E-Store</p>


  <p class="cost">Total Cost : {{totalCost}}</p>
  <button class="btn btn-outline-light" routerLink = "/check-out">checkout</button>
  <ng-template #anonymousUser>
    <button class="login-button btn btn-outline-light" routerLink="/login">
      Login
    </button>
  </ng-template>
  <div ngbDropdown class="dropdown" *ngIf="user$ | async as user; else anonymousUser">
    <button ngbDropdownToggle class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img [src]="user.photoURL">
    </button>
    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: 100%">
      <a class="dropdown-item" routerLink="/my-orders">My Orders</a>
      <a class="dropdown-item" routerLink="/products">Products</a>

      <ng-container *ngIf = "isAdminAccount">
      <a class="dropdown-item" routerLink="/admin/admin-orders">Admin Orders</a>
      <a class="dropdown-item" routerLink="/admin/admin-products">Admin Products</a>
    </ng-container>
      <a class="dropdown-item" style="cursor: pointer" (click)="logOut()">Logout</a>
    </div>
  </div>
</div>
