.top-nav-bar
  background: var(--primary)
  color: white
  height: 100%
  display: flex
  position: relative
  align-items: center
  .logo
    flex: 3
    padding-left: 5px
    margin: 0 !important
    font-size: 2rem
    width: fit-content
  .actions
    flex: 7
    display: flex

.login-button
  margin-left: auto
.cost
  font-size: 1.2rem
  display: flex
  margin: 0 100px !important
  margin-left: 50px
  align-items: center
  justify-content: center

@media screen and (max-width: 680px)

  .top-nav-bar
    justify-content: space-evenly
  .cost
    margin: unset !important
