.top-nav-bar
  min-height: 40px
  background: blue
  color: white
  display: flex
  position: relative
  .drop
    position: absolute
    right: 0
    .dropdown-1
      display: flex
      flex-direction: column
      .option
        color: white


