.flex
  display: flex
  justify-content: space-between


.btn
  margin-right: 5px

.welcome-msg
  height: 3rem

.categories-menu
  height: 3rem
  display: flex
  justify-content: center

.products-container
  padding: 10px 5px

.product-title
  font-weight: 500
  font-size: 1.2rem

