<div class="top-nav-bar">

  <button id="menu" *ngIf="showMenuButton" (click)="toggleSideMenu()" class="btn btn-inherit">
    <!-- <i class="fas fa-bars"></i> -->
    =
  </button>
  <p class="logo"><span class="material-icons">
      shopping_cart
      </span> SuperMart</p>

  <div class="actions">
    <span class="cost"><p class="cost-value">Total ₹{{productsInCart['totalCost']}}</p></span>


    <button class="btn btn-inherit cart-btn" routerLink="/cart"> <i class="fas fa-cart-arrow-down"></i> {{'Cart (' + productsInCart['length'] + ')'}}</button>
    <ng-template #anonymousUser>
      <button class="login-button btn" routerLink="/login">Login</button>
    </ng-template>
    <ng-container *ngIf="userData.isLoggedIn; else anonymousUser">
      <div class="login-button"> </div>
    </ng-container>
  </div>
</div>
