<div class="container">
  <div class="image-container" *ngIf="userData['isLoggedIn']">
    <img [src]="userData['userDetails']['photoURL']">
    <p class="email">{{userData['userDetails']['email']}}</p>
  </div>
  <button (click) ="$event.stopPropagation()" class="btn btn btn-outline-primary" routerLink="/">Home</button>

  <button (click) ="$event.stopPropagation()" class="btn btn btn-outline-primary" routerLink="/cart">Shopping Cart ({{productsInCart['length']}})</button>

  <button (click) ="$event.stopPropagation()" class="btn btn-outline-primary" routerLink = "/check-out">checkout</button>

  <button (click) ="$event.stopPropagation()"class="btn btn btn-outline-primary" routerLink="/my-orders">My Orders</button>

  <button (click) ="$event.stopPropagation()" class="btn btn btn-outline-primary" routerLink="/products">Products</button>

  <button *ngIf="userData['isLoggedIn']" (click) ="$event.stopPropagation(); logOut()" class="btn btn btn-outline-primary"  >Logout</button>


</div>
