button
  width: 100%
  margin-top: 10px
  outline: 0

.container
  padding: 10px 5px
  display: flex
  justify-content: center
  flex-direction: column
  .image-container
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    img
      width: 50%
    .email
      font-size: 0.6rem
      font-weight: 600
      color: grey

