<div class="product" *ngIf="!productDetails">
  <div class="product__detail">
    <form #formData="ngForm" (ngSubmit)="save(formData.value)">
      <div class="field">
        <label for="title">Title</label>
        <input #title="ngModel" ngModel name="title" type="text" class="input form-control" id="title"
          placeholder="Enter title">
      </div>
      <div class="field">
        <label for="imageUrl">Image URl</label>
        <input #imageUrl="ngModel" ngModel name="imageUrl" type="text" class="input form-control" id="imageUrl"
          placeholder="Enter url">
      </div>
      <div class="field">
        <label for="price">Price (₹)</label>
        <input #price="ngModel" ngModel name="price" type="number" class="input form-control" placeholder="Price">
      </div>
      <div class="field">
        <label for="category">Category</label>
        <select #category="ngModel" ngModel name="category" class="input form-control" id="category">
          <option>Select</option>
          <option *ngFor="let category of categoryList"> {{category.name}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <div class="product__image">

    <div class="card">
      <img [src]="imageUrl.value">
      <div class="card__detail">
        <h4>{{title.value}}</h4>
        <p>₹{{price.value}}</p>
      </div>
    </div>
  </div>

</div>

<div class="product" *ngIf="productDetails">
  <div class="product__detail">
    <form #formData="ngForm" (ngSubmit)="update(formData.value)">
      <div class="field">
        <label for="title">Title</label>
        <input #title="ngModel" [(ngModel)]="productDetails.title" name="title" type="text" class="input form-control"
          id="title" placeholder="Enter title">
      </div>

      <div class="field">
        <label for="imageUrl">Image URl</label>
        <input #imageUrl="ngModel" [(ngModel)]="productDetails.imageUrl" name="imageUrl" type="text"
          class="input form-control" id="imageUrl" placeholder="Enter url">
      </div>
      <div class="field">
        <label for="price">Price (₹)</label>
        <input #price="ngModel" [(ngModel)]="productDetails.price" name="price" type="number" class="input form-control"
          placeholder="Price">
      </div>
      <div class="field">
        <label for="category">Category</label>
        <select #category="ngModel" [(ngModel)]="productDetails.category" name="category" class="input form-control"
          id="category">
          <option>Select</option>
          <option *ngFor="let category of categoryList"> {{category.name}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>

    </form>
  </div>

  <div class="product__image">

    <div class="card">
      <img [src]="productDetails.imageUrl">
      <div class="card__detail">
        <h4 >{{productDetails.title}}</h4>
        <p>₹{{productDetails.price}}</p>
      </div>
    </div>
  </div>

</div>
