.table-container
  margin-top: 10px

td
  min-width: 200px

table
  width: 100%
  tr
    display: flex
    margin: 5px
    padding: 5px
    border-bottom: 1px solid #dbdbdb
    td
      flex: 1
      display: flex
      align-items: center
      justify-content: center
      border-right: 1px solid #dbdbdb
    th
      flex: 1
      display: flex
      align-items: center
      justify-content: center
      border-right: 1px solid #dbdbdb
