<p>
Total cost: {{productsInCart['totalCost']}}</p>


<p>Products</p>


<div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Price</th>
        </tr>
      </thead>
      <tr *ngFor = "let product of productsInCart['productDetails']">
          <td> {{product['value'].title}}</td>
          <td> {{product['value'].price | currency:"INR":true}}</td>

          <td>
              <button class="btn btn-danger" (click) ="removeItem(product['key'])">remove</button>
            </td>
        </tr>
      </table>
