.cart-container
  padding: 40px
table
  width: 100%
  border: 1px solid #d2cccc
  border-radius: 5px
  margin: 10px 0px
  padding: 0px
  background: var(--cardBackground)
  tr
    display: flex
    margin: 5px
    padding: 10px
    td
      flex: 1
      display: flex
      align-items: center
      justify-content: center
      color: grey

    th
      flex: 1
      display: flex
      align-items: center
      justify-content: center
      color: var(--title)
      padding: 10px
      border-bottom: 1px solid var(--border)

.cost
  font-weight: 600
  font-size: 1rem
