/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css"
$font-family: 'Open Sans','Source Sans Pro', 'Poppins', Helvetica, Tahoma

*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: $font-family
  -webkit-user-select: text
  -moz-user-select: text
  -ms-user-select: text
  user-select: text
  -webkit-font-smoothing: antialiased
  ::-webkit-scrollbar
    width: 6px
    height: 6px
    background-color: transparentize(grey, 0.9)
  ::-webkit-scrollbar-thumb
    width: 4px
    border-radius: 20px
    background-color: transparentize(grey, 0.6)
html
  font-size: 15px
@media screen and (min-width: 320px)
  html
    font-size: calc(10px + 4 * ((100vw - 320px) / 680))

@media screen and (min-width: 1840px)
  html
    font-size: 22px

.btn:focus.btn:actived
   outline: none !important
   box-shadow: none

.add-to-cart-btn
  display: flex
  justify-content: center
  align-items: center
  button
    width: 80%

.card
  height: 350px
