.top-navigation
  height: 50px
  position: absolute
  top: 0
  z-index: 1
  -webkit-box-shadow: 0 17px 25px rgba(0,0,0,0.25)
  -moz-box-shadow: 0 17px 25px rgba(0,0,0,0.25)
  box-shadow: 0 17px 25px rgba(0,0,0,0.25)
  width: 100vw


.side-navigation
  color: white
  border-radius: 23px
  background: #edf2f8
  width: 200px
  z-index: 1
  position: absolute
  left: 10px
  display: flex
  justify-content: center
  border: 1px solid #c6c6c6
  -webkit-box-shadow: 0 17px 25px rgba(0,0,0,0.18)
  -moz-box-shadow: 0 17px 25px rgba(0,0,0,0.18)
  box-shadow: 0 17px 25px rgba(0,0,0,0.18)
  top: 80px
  height: calc(100vh - 80px)

.dynamic
  width: calc(100vw - 220px)
  height: calc(100vh - 50px)
  background: white
  padding: 15px
  overflow: auto
  z-index: 0
  position: absolute
  bottom: 0
  right: 0


@media screen and (max-width: 680px)
  .top-navigation
    height: 100px

  .side-navigation
    top: 90px
    height: calc(100vh - 93px)

  .dynamic
    width: 100vw
    height: calc(100vh - 50px)
