.top-navigation
  height: 40px
  position: absolute
  top: 0
  z-index: 1
  width: 100vw


.side-navigation
  border: 2px solid orange
  color: white
  background: grey
  width: 200px
  z-index: 1
  position: absolute
  left: 0
  top: 40px
  height: calc(100vh - 40px)

.dynamic
  width: calc(100vw - 200px)
  height: calc(100vh - 40px)
  background: white
  padding: 15px
  z-index: 0
  position: absolute
  bottom: 0
  right: 0
