input
  border: none
  border: 1px solid #dbdbdb
  border-radius: 3px
  outline: none
  padding: 5px
  min-width: 300px
  margin: 5px

.container
  display: flex
  flex-direction: column
  height: 100%
